
#poster{
   height:400px;
    min-width: 100%;
    background-color: bisque;
    margin-bottom: 10px;
    background-size: cover;
}

#moviecard{
    color: white;
    text-align: left;

}
#moviecard h3{
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif;
    font-weight: 600;
    font-size: 18px;
}
.btn-trailer{
    color: #ffffff!important;
    border-width: 1px!important;
    border-color: #f9002b;
    letter-spacing: 2px;
    font-size: 1em;
    font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif!important;
    font-weight: 600!important;
    text-transform: uppercase!important;
    background-color: rgba(0,0,0,0);
    align-self: flex-end;  
}
.btn-trailer:hover{
    color: #f9002b!important;
    border-width: 1px!important;
    
}
